# Virtual environment
.venv/
.venv-1/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/historical/*

# Models
models/production/*
models/experiments/*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temporary
*.tmp
*.temp

# Realtime generated data
data/realtime/*
